#container {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cards {
  display: flex;
  flex-wrap: wrap;         
  gap: 15px;                 
  margin-right: 300px;  
  margin-top: 20px;        
  padding: 10px;
}

.card {
    position: relative; 
    width: 250px;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 8px;
    direction: rtl;
    text-align: right;
}

.deleteBtn {
    position: absolute;
    top: 5px;
    left: 5px;  
    padding: 5px 10px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn:hover {
    background: #ff1a1a;
}


.row {
    display: flex;
    justify-content: space-between;
    direction: rtl;
}


input, button {
  padding: 10px;
  font-size: 16px;
}

#filterContainer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    transform: translateX(30%);
}

.filterBtn {
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filterBtn:hover {
    background: #0056b3;
}
.filterBtn.active {
    background: #0056b3; 
}
#summary {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 260px;

    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    direction: rtl;
    font-size: 16px;
    max-height: 300px;
    overflow-y: auto;
}
#deleteAllBtn{
    position: fixed;
    bottom: 290px;  /* קצת מעל הסיכום */
    right: 20px;

    padding: 10px 15px;
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}


